//links
$item-color: #8e9aa3;
$active-item-color: #4d5e6c;
//general
$grey: #727c8f;
$dark-grey: #424c5d;
$light-grey: #c5c5c5;
$lighter-grey: #f4f6f9;
$dark-blue: #193041;
$turquoise: #297883;
//break point
$xl-device: 1200px;
$md-device:768px;
$lg-device:992px;
$sm-device:576px;
