<nav class="navbar navbar-expand-md navbar-light bg-white justify-content-between elevation p-3 pl-5 fixed-top">
    <a class="navbar-brand" routerLink="evaluate">
        <img src="assets/icons/advance-logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link  text-uppercase pr-5 " routerLink="evaluate" [routerLinkActive]="'active'">evaluate</a>
            <a class="nav-item nav-link text-uppercase pr-4 " routerLink="#">Analyze</a>
            <a class="nav-item nav-link text-uppercase pr-4 " routerLink="#">Plan</a>
            <a class="nav-item nav-link  text-uppercase pr-4 " routerLink="#">Do</a>
            <a class="nav-item nav-link  text-uppercase pr-4 " routerLink="#">Apply</a>
            <a class="nav-item nav-link  text-uppercase pr-4 " routerLink="#">HELP</a>
            <a class="nav-item nav-link  text-uppercase pr-4 " routerLink="#"><i class="fas fa-cog"></i></a>
        </div>
    </div>
</nav>
